/* Appliquer un style au tableau */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

/* Appliquer un style aux en-têtes de colonne */
th {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #f2f2f2;
}

/* Appliquer un style aux cellules de données */
td {
    border: 1px solid #ccc;
    padding: 8px;
}

.centred-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  background-color: #333;
  padding: 10px;
  border-bottom: 2px solid #555; /* Bordure en bas */
}