{% load static %} <!--Chargement du fichier CSS-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Liste des rayons</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}" />
</head>





<body>

    <h3>Liste des rayons</h3>
    <table>
        <thead>
            <tr>
                <th>Numéro de Rayon</th>
                <th>Nombre de cellule</th>
                <th>Numéro de dépôt</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            {% for rayon in rayons %}
            <tr>
                <td>{{ rayon.no_rayon}}</td>
                <td>{{ rayon.nombre_de_cellule }}</td>
                <td>{{ rayon.no_depot }}</td>
                <td><a href="{% url 'supprimer-rayon' rayon.no_rayon %}">Supprimer</a></td> <!-- Lien de suppression -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

<br>

<a href="{% url 'ajouter-rayon' %}">Ajouter un Rayon</a>

</body>
</html>