{% load static %} <!--Chargement du fichier CSS-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Liste des articles</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}" />
</head>





<body>

    <h3>Liste des articles</h3>
    <table>
        <thead>
            <tr>
                <th>Article</th>
                <th>Quantité</th>
                <th>Informations détaillées</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.nom_article }}</td>
                <td>{{ article.quantite }}</td>
                <td><a href="{% url 'article-detail' article.no_article %}">détail de l'article</a></td>
                <td><a href="{% url 'supprimer-article' article.no_article %}">Supprimer</a></td> <!-- Lien de suppression -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

<br>

<a href="{% url 'ajouter-article' %}">Ajouter un article au stock</a>


</body>
</html>