<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>Ajouter un dépôt</title>
</head>


    <body>
            <!--Formulaire du dépôt + adresse-->
                <form method="post">
                    {% csrf_token %}
                    {{ adresse_form.as_p }}
                    {{ depot_formset.management_form }}
                    {% for depot_form in depot_formset %}
                        {{depot_form.as_p }}
                    {% endfor %}
              <button type="submit">Enregistrer</button>
                </form>
    </body>
</html>
