{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edition Article</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}" />
</head>
    <body>
        {% include 'navbar.html' %}
        <br>
        <br>
        <h2>Édition de l'article {{ article.nom_article }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-primary" type="submit">Enregistrer les modifications</button>
        </form>
        <br>
        <a href="{% url 'supprimer-article' depot.no_article %}">Supprimer</a>
    </body>
</html>